@use "./variables" as v;
@use './mixins' as m;

footer {
    background-color: v.$grisOscuro;
    width: 100%;
    @include m.flex(column, space-between, center);
    color: v.$gris;

    p {
        margin-top: 5%;
        padding-left: 30px;
        padding: 0;
    }

    .redes {
        @include m.flex(row);

        p {
            display: none;
            margin: 10px;
        }

        .red {
            padding: 0;
        }

        a,
        img {
            width: 50px;
            height: 100%;
            margin: 10px;
        }
    }
}
