@use "./variables" as v;
@use './mixins' as m;

.impresoras {
    @include m.flex(column);
    flex-wrap: wrap;

    .impresora {
        height: 50vh;
        border-radius: 15%;
        display: flex;
        margin: 5%;

        img {
            width: 50%;
            border: solid v.$grisOscuro 1px;
            border-radius: 10% 0 0 10%;
        }

        .textoImpresora {
            @include m.flex(column);
            border: solid v.$grisOscuro 1px;
            border-radius: 0 10% 10% 0;
            box-shadow: 5px 0 0 0 v.$grisOscuro;

            .nombreImpresora {
                margin-top: 10%;
                font-weight: bold;
                font-size: 25px;
                color: v.$celesteOscuro;
                text-align: center;
            }

            .precioImpresora {
                font-weight: bold;
                font-size: 20px;
                color: v.$verde;
            }

            .detalleImpresora {
                text-align: center;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}