@use './mixins' as m;

@include m.tablet {
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
}

@include m.tablet {
    header {
        border: none;
    }
}

@include m.tablet {
    .contenedor-logo {
        width: 100%;
    }
}

@include m.telefono {
    .nombreLogo {
        display: none;
    }
}

@include m.tablet {
    .nombreLogo {
        text-align: center;
        @include m.flex();
        font-size: 80px;
        width: 100%;
    }
}

@include m.tablet {
    nav {
        ul {
            flex-direction: row;
        }
    }
}

@include m.tablet {
    .boton-hamburguesa {
        display: none;
    }
}

@include m.desktop {
    .detalles {
        flex-direction: row;
    }
}

@include m.desktop {

    .video,
    .direccion {
        width: 50%;
        margin-top: 0;
    }
}

@include m.desktop {
    .video iframe {
        margin: 0;
    }
}

@include m.desktop {
    .impresoras {
        flex-direction: row;
        justify-content: space-around;

        .impresora {
            min-height: 45vh;
            width: 40%;
            margin: 3% 0;
        }
    }
}

@include m.tablet {
    .impresora {
        min-height: 35vh;
    }
}

@include m.desktop {
    .detalleImpresora {
        line-height: 25px;
    }
}

@include m.desktop {
    .capacitacion {
        flex-direction: row;
        margin: 50px;

        img {
            width: 40%;
        }

        .capacitacionDetalle {
            margin: 0;
        }
    }
}

@include m.desktop {
    .contacto {
        flex-direction: row;

        .redesContacto {
            width: 50%;

            .redesImagenes {
                flex-wrap: nowrap;

                .red {
                    width: 80%;
                }
            }
        }

        .formularioContacto {
            width: 50%;

            .formulario {
                input {
                    width: 50%;

                    &[type=submit] {
                        width: 30%;
                    }
                }

                textarea {
                    width: 80%;
                    height: 20vh;
                }
            }
        }
    }
}

@include m.desktop {
    footer {
        flex-direction: row;

        p {
            padding-left: 5%;
            margin: 0;
        }

        .redes {
            padding-right: 3%;

            p {
                display: inline;
                padding: 0;
            }

            .red {
                width: 15%;
            }
        }
    }
}