@use './variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin flex($direccion: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
}