@use './mixins' as m;

.nosotros {
    @include m.flex(column);
    gap: 50px;
    margin: 0 10%;

    .nosotrosTexto {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }

    .nosotrosImagen {
        width: 60%;
        margin-bottom: 50px;
    }
}