
$fuente-titulos: "Poppins", sans-serif;
$fuente-textos: "Rubik", sans-serif;

$celesteOscuro: #6096B4;
$celesteClaro: #93BFCF;
$verde: #028A0F;
$gris: #c9c9c9;
$grisOscuro: #3b3b3b;
$colorFondo: #f3e8c5;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;