* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e8c5;
}

h1,
h2,
h3,
.nombreLogo {
  font-family: "Poppins", sans-serif;
}

p,
a,
label,
input {
  font-family: "Rubik", sans-serif;
}

.contenedor {
  background-color: #c9c9c9;
}

.subtitulo {
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}

h2 {
  font-size: 30px;
  text-align: center;
}

header {
  border-bottom: #3b3b3b 3px solid;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.titulo .contenedor-logo {
  width: 100%;
}
.titulo .contenedor-logo a img {
  border: solid rgba(0, 0, 0, 0.5) 2px;
  background-color: #f3e8c5;
  border-radius: 50%;
  width: 50%;
  margin: 5%;
}
.titulo .navegacion-boton-hamburguesa {
  width: 30%;
}
.titulo .navegacion-boton-hamburguesa .contenedor-boton-hamburguesa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.titulo .navegacion-boton-hamburguesa .contenedor-boton-hamburguesa .boton-hamburguesa {
  background-color: #6096B4;
  border: 2px solid;
  width: 50%;
  height: 25%;
}
.titulo .navegacion-boton-hamburguesa .contenedor-boton-hamburguesa .boton-hamburguesa .icono-boton-hamburguesa {
  width: 70%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding: 0;
  text-align: center;
}
nav ul a {
  width: 100%;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  padding: 5px 0;
  background-color: #6096B4;
  text-decoration: none;
}
nav ul a li {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 25px;
  color: #3b3b3b;
}
nav ul a:hover {
  background-color: #93BFCF;
}

.contenido {
  background-image: url(../media/images/fondoInicio.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contenido p {
  text-align: center;
  font-size: 50px;
  font-size: 22px;
  line-height: 35px;
  padding: 50px 15%;
}

.detalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 3% 5% 3%;
}
.detalles .video,
.detalles .direccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.detalles .video {
  justify-content: space-around;
}
.detalles .video iframe {
  width: 90%;
  margin: 5%;
}
.detalles .direccion p {
  margin: 20px 50px;
  text-align: center;
}
.detalles .direccion iframe {
  height: 50%;
  width: 90%;
}

.impresoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.impresoras .impresora {
  height: 50vh;
  border-radius: 15%;
  display: flex;
  margin: 5%;
}
.impresoras .impresora img {
  width: 50%;
  border: solid #3b3b3b 1px;
  border-radius: 10% 0 0 10%;
}
.impresoras .impresora .textoImpresora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #3b3b3b 1px;
  border-radius: 0 10% 10% 0;
  box-shadow: 5px 0 0 0 #3b3b3b;
}
.impresoras .impresora .textoImpresora .nombreImpresora {
  margin-top: 10%;
  font-weight: bold;
  font-size: 25px;
  color: #6096B4;
  text-align: center;
}
.impresoras .impresora .textoImpresora .precioImpresora {
  font-weight: bold;
  font-size: 20px;
  color: #028A0F;
}
.impresoras .impresora .textoImpresora .detalleImpresora {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.capacitacion {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}
.capacitacion img {
  width: 70%;
  margin: 5% auto 0 auto;
}
.capacitacion .capacitacionDetalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 5%;
}
.capacitacion .capacitacionDetalle .capacitacionTitulo {
  text-align: center;
  border-bottom: solid var(--grisOscuro) 1px;
}

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 10%;
}
.nosotros .nosotrosTexto {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}
.nosotros .nosotrosImagen {
  width: 60%;
  margin-bottom: 50px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h1 {
  text-align: center;
}
.contacto .redesContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.contacto .redesContacto .redesImagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contacto .redesContacto .redesImagenes .red {
  width: 40%;
  padding: 5%;
}
.contacto .redesContacto .redesImagenes .red img {
  max-width: 80%;
}
.contacto .redesContacto p {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.contacto .formularioContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.contacto .formularioContacto .formulario {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  width: 90%;
}
.contacto .formularioContacto .formulario label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.contacto .formularioContacto .formulario input[type=submit] {
  width: 100%;
  height: 10%;
  margin: 20px 0;
  font-weight: bold;
}
.contacto .formularioContacto .formulario input[type=submit]:hover {
  background-color: #3b3b3b;
  color: #c9c9c9;
}
.contacto .formularioContacto .formulario input textarea {
  border-radius: 5px;
  border: solid #3b3b3b 2px;
  width: 100%;
  height: 40vh;
}

footer {
  background-color: #3b3b3b;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #c9c9c9;
}
footer p {
  margin-top: 5%;
  padding-left: 30px;
  padding: 0;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .redes p {
  display: none;
  margin: 10px;
}
footer .redes .red {
  padding: 0;
}
footer .redes a,
footer .redes img {
  width: 50px;
  height: 100%;
  margin: 10px;
}

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  header {
    border: none;
  }
}
@media (min-width: 768px) {
  .contenedor-logo {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .nombreLogo {
    display: none;
  }
}
@media (min-width: 768px) {
  .nombreLogo {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .boton-hamburguesa {
    display: none;
  }
}
@media (min-width: 1024px) {
  .detalles {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .video,
  .direccion {
    width: 50%;
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .video iframe {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .impresoras {
    flex-direction: row;
    justify-content: space-around;
  }
  .impresoras .impresora {
    min-height: 45vh;
    width: 40%;
    margin: 3% 0;
  }
}
@media (min-width: 768px) {
  .impresora {
    min-height: 35vh;
  }
}
@media (min-width: 1024px) {
  .detalleImpresora {
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .capacitacion {
    flex-direction: row;
    margin: 50px;
  }
  .capacitacion img {
    width: 40%;
  }
  .capacitacion .capacitacionDetalle {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .contacto {
    flex-direction: row;
  }
  .contacto .redesContacto {
    width: 50%;
  }
  .contacto .redesContacto .redesImagenes {
    flex-wrap: nowrap;
  }
  .contacto .redesContacto .redesImagenes .red {
    width: 80%;
  }
  .contacto .formularioContacto {
    width: 50%;
  }
  .contacto .formularioContacto .formulario input {
    width: 50%;
  }
  .contacto .formularioContacto .formulario input[type=submit] {
    width: 30%;
  }
  .contacto .formularioContacto .formulario textarea {
    width: 80%;
    height: 20vh;
  }
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row;
  }
  footer p {
    padding-left: 5%;
    margin: 0;
  }
  footer .redes {
    padding-right: 3%;
  }
  footer .redes p {
    display: inline;
    padding: 0;
  }
  footer .redes .red {
    width: 15%;
  }
}

/*# sourceMappingURL=estilos.css.map */
